<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<html>

   <head>
      <title>Timestamp Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>API Basejump: Timestamp Microservice</h1>
         
        <div id = "user-stories">
          <div id = "user-stories-text">
          <p>User Stories:</p>
          <ol>
            <li>I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016)</li>
            <li>If it does, it returns both the Unix timestamp and the natural language form of that date.</li>
            <li>If it does not contain a date or Unix timestamp, it returns null for those properties.</li>
          </ol>
          </div>
        </div>
        
        <div>
          <h3>Example Input</h3>
          <a href="https://mack-timestamp.glitch.me/December%2015,%202015" target = "_blank"><code>https://mack-timestamp.glitch.me/December%2015,%202015</code></a>
          <br>
          <a href="https://mack-timestamp.glitch.me/1450137600" target = "_blank"><code>https://mack-timestamp.glitch.me/1450137600</code></a>
        </div>
        <div>
          <h3>Example Output</h3>
          <code>{ "unix": 1450137600, "natural": "December 15, 2015" }</code>
        </div>
        
        
      </div>
   </body>

</html>
