<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<html>

   <head>
      <title>Parser Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>API Basejump: Request Header Microservice</h1>
         
        <div id = "user-stories">
          <div id = "user-stories-text">
          <p>User Stories:</p>
          <ol>
            <li>User Story: I can get the IP address, language and operating system for my browser.</li>    
          </ol>
          </div>
        </div>
        
        <div>
          <h3>Link to Service</h3>
          <a href="https://mack-parser.glitch.me/whoami" target = "_blank"><code>https://mack-parser.glitch.me/whoami</code></a>
        </div>
        <div>
          <h3>Example Output</h3>
          <code>{ "IP address": "255.255.255.255", "Language": "en-US", "Software": "Windows NT 10.0; Win64; x64" }</code>
        </div>
        
        
      </div>
   </body>

</html>
